@import "reset";
@import "responsivo";




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 120px;
    overflow-x: hidden;
    position: relative;
    background: #000;

    @include d(m) {
        background: white;

    }
}

fieldset {
    flex-direction: column;
}

.container {
    max-width: 1280px;
}

.texto {
    flex-direction: column;
    align-items: center;
    padding-top: 210px;
    height: 90vh;
    justify-content: flex-start;

    @include d(m) {
        padding-top: 160px;
        justify-content: initial;

    }

    @include d(l) {
        padding-top: 320px;

    }

    p {
        font-size: 18px;
        text-shadow: 2px 2px 4px #000000;
        max-width: 850px;
        margin-bottom: 15px;
        color: white;
        text-align: center;

        @include d(l) {
            font-size: 16px;
        }

        @include d(m) {
            font-size: 16px;
            margin-bottom: 15px;
            color: black;
            text-shadow: initial;
            text-align: start;

        }

    }

    p:last-child {
        margin-top: 40px;

        @include d(m) {
            order: -1;
            text-align: center;
        }
    }
}

//MENU

.menu {
    width: 100%;
    background: white;
    position: fixed;
    top: 0;

    .menu__wrapper {
        padding: 20px;
        display: flex;
        align-items: center;

        @include d(m) {
            flex-direction: column;
        }

    }

    ul {
        display: flex;
        margin-left: auto;

        @include d(m) {
            margin-top: 20px;
            align-items: center;
            margin-left: initial;
        }

        li {
            display: flex;
            transition: 0.3s;

            &:hover {
                text-decoration: underline;
            }

            a {
                display: inline-block;

                p {
                    color: #583862;

                    @include d(m) {
                        display: none;
                    }
                }
            }
        }


    }

    .logo {
        min-width: 150px;
    }
}

.menu ul {
    li {

        a {
            display: flex;
            align-items: center;
            font-size: 14px;

            &:hover {
                text-decoration: none;
            }
        }

        a {
            margin-left: 40px;

            @include d(m) {
                margin-left: 20px;
            }
        }

        .menu__whats,
        .menu__email,
        .menu__phone {
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }

        .menu__whats {
            background-image: url(../img/whats.svg);
        }

        .menu__email {
            background-image: url(../img/mail.svg) !important;
        }

        .menu__phone {
            background-image: url(../img/phone.svg) !important;
        }
    }

    .dropdown {
        margin-left: 30px;

        i {
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 30px;
            height: 20px;
            margin-right: 5px;
            background-image: url(../img/pais-1.svg);
        }

        button:after {
            vertical-align: super;
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: initial !important;
            border-right: initial !important;
            border-bottom: initial !important;
            border-left: initial !important;
            background-image: url(../img/arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 20px;
            height: 7px;
            margin-right: 5px;
        }
    }

    .dropdown-item {
        margin-left: 0;
        padding: 5px;
    }

    .dropdown-menu {
        min-width: initial;
    }

}

//formulario
.campo {
    flex-direction: column;
}

.nova__linha {
    display: flex;

    @include d(m) {
        flex-direction: column;
    }
}

.custom-select:focus {
    border-color: transparent;
    outline: 0;

}

.input-group {
    margin-top: 43px;

    @include d(m) {
        margin-top: 30px;

    }
}



video {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 100px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
    filter: brightness(27%);

    @include d(m) {
        position: relative;
        right: 0;
        bottom: 0;
        top: 150px;
        /* min-width: 100%; */
        /* min-height: 300px; */
        /* width: auto; */
        /* height: auto; */
        /* z-index: -1000; */
        background-size: contain;
        filter: brightness(70%);
        width: 100%;

    }

}

.campo {
    input {
        padding: 5px 10px;
        background: white;
        border-color: transparent;
        border-radius: .25rem;

        @include d(m) {
            border: 1px solid #ced4da;
        }
    }

    label {
        margin-top: 10px;
        color: white;

        @include d(m) {
            color: black;
            font-weight: bold;
        }
    }
}

.enviar {


    background: #a0cb39;
    border-radius: 20px;
    padding: 8px;
    width: 96%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    margin-bottom: 20px;

    &:hover {
        transform: scale(1.1);
    }
}