@import "../sass/color__font";
@import "../sass/variaves__mixins"; //VARIAVEIS E MIXINS
@import "bootstrap__imports"; //BOOTSTRAP

// UTILITIES
@import "../sass/utilities/geral"; //utilitarios
@import "../sass/utilities/responsivo"; //  RESPONSIVO
@import "../sass/utilities/reset"; // reset
@import "../sass/utilities/animation"; // animation

//COMPONENTS GERAIS
@import "../sass/components/footer";
@import "../sass/components/menu";



body {
  overflow-x: hidden;
  @include scrollbars(8px, $cor-1, rgb(238, 238, 238));
  transition: opacity 0.3s ease;
  opacity: 0;
  font-family: $inter;
  background: $cinza-fundo;

  &.dcl {
    opacity: 1;
  }

}

body,
button,
select {
  @include font;
}

//pages  🂱

.body__home {
  @import "../sass/pages/page__home";
}

.body__empresas {
  @import "../sass/components/empresas__variaveis";
  @import "../sass/pages/pages__empresa";
}

.body__contato {
  @import "../sass/pages/page__contato";

}

.body__sejamvx {
  @import "../sass/pages/page__sejamvx";

}

//empresas variantes
.variante__1 {
  @import "../sass/components/empresas__variaveis";
  @import "../sass/pages/pages__empresa__variante-1";
  @import "../sass/pages/pages__empresa";

}