@import "../sass/color__font";
@import "../sass/variaves__mixins"; //VARIAVEIS E MIXINS
@import "bootstrap__imports"; //BOOTSTRAP

// UTILITIES
@import "../sass/utilities/geral"; //utilitarios
@import "../sass/utilities/responsivo"; //  RESPONSIVO
@import "../sass/utilities/reset"; // reset
@import "../sass/utilities/animation"; // animation

//COMPONENTS GERAIS
// @import "../sass/components/footer";
@import "../sass/components/menu";

body {
  overflow-x: hidden;
  @include scrollbars(8px, $cor-1, rgb(238, 238, 238));
  transition: opacity 0.3s ease;
  opacity: 1;
  height: 4000px; //RETIRARRRRRR
  font-family: $inter;
  background: #f4f4f4;
}


::-moz-selection {
  background: $cor-1;
}

::selection {
  background: $cor-1;
}

body,
button,
select {
  @include font;
}

// body.dcl {
//   opacity: 1;
// }

.body__home {
  @import "../sass/pages/page__home";
}