//intro.
$bola-1: url(../img/bola-amarela.svg);
$bola-2: url(../img/bola-roxa.svg);
$comment-1: url(../img/comment-1.svg);
$comment-2: url(../img/comment-2.svg);
//

$cor-destaque: rgba(251, 194, 0, 1);
$roxo-claro: #7E75EA;
$verde: #5efa51;
$detail-1: url(../img/Left-1.svg);
$detail-2: url(../img/right-1.svg);