.novidades {
    position: relative;
    background-color: $fundo-claro;
    padding: 60px 0;
    overflow: hidden;

    h1 {
        text-align: center;
        color: $secundaria;
        font-size: clamp(32px, 7vw, 48px);
        z-index: 2;
    }

    &__orna {
        position: absolute;
        width: 9vw;
        left: -40px;
        top: 50px;
        object-fit: contain;

        @include d(s) {
            width: 80px;
            bottom: 100px;
            top: -10px;
            right: -40px;
            left: initial;

        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin: 60px auto;
        justify-content: center;

        @include d(m) {
            flex-flow: column wrap;
            gap: 30px;
        }

        .field {
            display: flex;
            flex-direction: column;
            position: relative;

            input {
                width: 300px;
                border-radius: 30px;
                padding: 10px 15px;
                border: 0.05pt solid $borda;
                position: relative;

                @include d(m) {
                    width: 240px;
                }
            }

            label {
                font-size: 12px;
                position: absolute;
                z-index: 2;
                top: -16px;
                left: 15px;
            }


        }

        button {
            @include botao($primaria, white);
            margin-left: 15px;
            padding: 12px 40px;
            align-items: center;
            ion-icon {
                font-size: 14px;
            }

            ion-icon:nth-child(2) {
                margin-left: -10px;
            }
        }

        .field:nth-child(2) {
            margin-left: 40px;

            @include d(m) {
                margin-left: 0px;

            }
        }
    }
}