//ornamentos ==============
.icon-orna-3 {
    @include size(10vw);
    position: absolute;
    right: 0;
    top: 0px;

    @include d(m) {
        @include size(150px);
        right: -60px;
        top: initial;
        bottom: 10px;

    }

}

.icon-orna-1 {
    // @include size(10vw);
    position: absolute;
    top: 30px;
    left: -30px;
    width: 200px;

    @include d(m) { //992px
        left: -60px;
    }

}


.icon-orna-4 {
    position: absolute;
    bottom: 40px;
    left: 12%;


    @include d(s) {

        display: none;

    }

}