

//intro.
$bola-1: url(../img/bola-azul.svg);
$bola-2: url(../img/bola-vemelha.svg);
$comment-1: url(../img/comment-3.svg);
$comment-2: url(../img/comment-4.svg);
//

$cor-destaque:#EA7575;
$roxo-claro:#EA7575;
$verde:#5efa51;
$detail-1:url(../img/Left-2.svg);
$detail-2:url(../img/right-2.svg);