#page__home {

    overflow: hidden;


}

.menu {
    background: transparent;
}

&.ativo__scroll {
    .menu {
        background: white;
    }
}

.intro {
    height: 100vh;
    min-height: 600px;
    position: relative;

    >.container {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        margin-top: 140px;

        @include d(m) {
            flex-wrap: wrap;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 50px;
        color: $cor-2;
        font-family: $inter;

        h2 {
            font-size: clamp(16px, 2vw, 34px);
            font-family: $gilroy;
            margin-left: 5px;

            @include d(s) {
                // margin-bottom: 10px;
                margin-left: 0px;
            }
        }

        h1 {
            font-size: clamp(32px, 6vw, 100px);
            font-weight: 900;
            line-height: 130%;

            @include d(s) {
                line-height: 180%;
            }

            span {
                font-size: 200%;
            }
        }
    }

    .ornamentos {
        position: absolute;
        width: 45vw;
        // height: 560px;
        height: 30vw;
        transition: all .5s ease;

        @include d(m) {
            width: 60vw;

        }

        @include d(s) {
            width: 80vw;
            height: 560px;
        }
    }

    &__orna {
        position: relative;

        .orna__1 {
            left: -250px;
            z-index: -3;
            top: 50px;

            @include d(s) {
                top: initial;
                left: -250px;
                top: 30px;
            }

        }

        .orna__2 {
            left: -200px;
            z-index: -2;

            @include d(s) {
                top: initial;
                left: -220px;
                top: 0px;

            }

        }
    }


}

@media (max-width: 1441px) and (min-width:540px) {
    .intro__text {
        margin-left: 5vw;
    }
}

.quemsomos {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 60px 0;

    &:after {
        content: "";
        display: block;
        @include bg-props-contain;
        background-image: url(../img/fundo-logo.svg);

        position: absolute;
        right: -220px;
        width: 550px;
        height: 600px;
        top: -70px;
    }

    &__wrapper {
        display: flex;
    }

    &__item-1 {
        h1 {
            font-family: $gilroy;
            font-weight: 500;
            font-size: clamp(40px, 5vw, 80px);
            position: relative;

            &:after {
                content: "";
                @include bg-props-contain;
                background-image: url(../img/logo-menor.svg);
            }

            span {
                font-size: 120%;
            }
        }
    }

}