@import "../utilities/assets__helper";
@import "../variaves__mixins";
@import "../components/intros";
@import "../components/cursos";
@import "../components/busca";
@import "../components/novidades";

.online {
    @import "../components/subsecao";
}


.intro {
    position: relative;
    background-image: url("../img/materiais-intro.jpg");

    @include d(s) {
        background-image: url("../img/materiais-intro-mobile.jpg");
        background-position: left;
    }

    h1 {
        color: $secundaria;
    }

    p {
        color: #000;
        text-shadow: 0px 3px 10px rgb(0 0 0 / 20%);
    }

}


.cursos {
    @include d(m) {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    h1 {
        @include tituloGrande;
        font-size: 60px;

        @include d(s) {
            font-size: 32px;
        }
    }

    &__container {
        >p {
            text-align: center;
            line-height: 140%;
            color: $terciaria;
            text-align: center;
            max-width: 700px;
            margin: 0 auto;
        }
    }
}


//CURSOS 2 =================================================================
.cursos.cursos-2 {
    padding-top: 0px !important;
    position: relative;

    .cursos-2-orna {
        position: absolute;
        width: 16vw;
        right: 0;
        top: 0;

        @include d(m) {
            width: 12vw;
        }
    }

    .cursos-2-orna-2 {
        position: absolute;
        width: 8vw;
        left: 0;
        top: 35%;

        @include d(s) {
            display: none;
        }
    }

    .cursos-2-orna-3 {
        position: absolute;
        width: 14vw;
        bottom: 50px;
        right: 0;

        @include d(m) {
            display: none;
        }

    }

    .cursos__wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: center;

        @include d(s) {
            flex-flow: row nowrap;
            max-width: initial;
            gap: initial;
            justify-content: initial;
        }


    }

    .cursos__slide {
        max-width: calc(33.3333333333% - 20px);
        margin-bottom: 40px;

        @include d(m) {
            max-width: 350px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;

        @include d(s) {
            display: block;
        }
    }
}

.cursos-2__pagination {
    width: 100%;
    display: grid;
    place-items: center;

    @include d(s) {
        display: none;
    }

    button {
        @include botao($secundaria, white);
        margin-left: 15px;
        padding: 12px 40px;
        margin: 0 auto;
        align-items: center;
        display: inline-flex;

        ion-icon {
            font-size: 14px;
        }

        ion-icon:nth-child(2) {
            margin-left: -10px;
        }

    }

    ul {
        display: flex;
        margin: 0 auto;
        margin-top: 20px;

        li {
            padding: 5px;
            color: $secundaria;
            font-weight: bold;
            cursor: pointer;
        }

        li+li {
            margin-left: 10px;

        }

        li.ativo {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 2px;
                width: 10px;
                height: 2px;
                left: 0;
                right: 0;
                margin: 0 auto;
                background: $secundaria;
            }
        }
    }
}

.cursos {
    &__busca {
        padding-bottom: 5px;
    }

    &__categoria {
        margin-bottom: 40px;
        position: relative;
        margin-left: 30px;
        margin-right: 30px;

        .swiper-wrapper {
            display: inline-flex;
            align-items: center;

            li {
                width: 120px;
                border: 1px solid $primaria;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                padding: 5px;
                border-radius: 10px;
                transition: .3s ease;
                cursor: pointer;
                color: $secundaria;
            }

            li.active {
                background: #f1f1f1;

            }
        }

        .categoria__icon-left {
            position: absolute;
            left: -20px;
            top: 3px;
            bottom: 0;
            margin: auto 0;
            z-index: 10;
            color: $primaria;
        }

        .categoria__icon-right {
            position: absolute;
            right: -20px;
            top: 3px;
            bottom: 0;
            margin: auto 0;
            z-index: 10;
            color: $primaria;

        }
    }


}