@import "../utilities/assets__helper";
@import "../variaves__mixins";
@import "../components/intros";
@import "../components/cursos";

.online {
    @import "../components/subsecao";
}


.intro {
    position: relative;
    background-image: url("../img/aluno-intro.png");

    @include d(s) {
        // background-image: url("../img/empresa-intro-mobile.png");
        background-position: left;
    }

    h1 {
        color: $secundaria;
    }

    p {
        color: #000;
        text-shadow: 0px 3px 10px rgb(0 0 0 / 20%);
    }

}

.online {
    position: relative;

    &__orna-2 {
        position: absolute;
        top: 250px;
        z-index: 2;
        width: 10vw;
        left: 6vw;

        @include d(m) {
            position: absolute;
            top: 50px;
            z-index: 2;
            width: 12vw;
            left: 0;
        }
    }

    &__orna-1 {
        position: absolute;
        width: 14vw;
        top: 0;
        right: 0;
    }

    &__img {
        position: relative;

        .online__orna-3 {
            position: absolute;
            top: 0;
            z-index: 2;
            width: 10vw;
            right: 0;

            @include d(m) {
                display: none;
            }
        }

        .icon-orna-4 {
            position: absolute;
            bottom: -100px;
            z-index: 2;
            width: 10vw;
            left: -120px;

            @include d(m) {
                display: none;
            }
        }

    }
}

.cursos {
    @include d(m) {
        padding-top: 0px ;
        padding-bottom: 60px;
    }

    h1 {
        @include tituloGrande;
        font-size: 46px;

        @include d(s) {
            font-size: 32px;
        }
    }
}


//CURSOS 2 =================================================================
.cursos.cursos-2 {
    padding-top: 0px !important;

    .cursos__wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: center;

        @include d(s) {
            flex-flow: row nowrap;
            max-width: initial;
            gap: initial;
            justify-content: initial;
        }


    }

    .cursos__slide {
        max-width: calc(33.3333333333% - 20px);
        margin-bottom: 40px;

        @include d(m) {
            max-width: 350px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;

        @include d(s) {
            display: block;
        }
    }
}